https://github.com/williamsjs?tab=repositories
<html lang="en" class=" is-copy-enabled">

    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en">
        <title>williamsjs (Scott Williams)</title>
        <link rel="search" type="application/opensearchdescription+xml"
        href="/opensearch.xml" title="GitHub">
        <link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub">
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-114.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-144.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144.png">
        <meta property="fb:app_id" content="1401488693436528">
        <meta content="@github" name="twitter:site">
        <meta content="profile" name="twitter:card">
        <meta content="williamsjs (Scott Williams)" name="twitter:title">
        <meta content="williamsjs has 13 repositories written in Ruby, CSS, and JavaScript. Follow their code on GitHub."
        name="twitter:description">
        <meta content="https://avatars2.githubusercontent.com/u/7584557?v=3&amp;s=400"
        name="twitter:image:src">
        <meta content="GitHub" property="og:site_name">
        <meta content="profile" property="og:type">
        <meta content="https://avatars2.githubusercontent.com/u/7584557?v=3&amp;s=400"
        property="og:image">
        <meta content="williamsjs (Scott Williams)" property="og:title">
        <meta content="https://github.com/williamsjs" property="og:url">
        <meta content="williamsjs has 13 repositories written in Ruby, CSS, and JavaScript. Follow their code on GitHub."
        property="og:description">
        <meta content="williamsjs" property="profile:username">
        <meta name="browser-stats-url" content="https://api.github.com/_private/browser/stats">
        <meta name="browser-errors-url" content="https://api.github.com/_private/browser/errors">
        <link rel="assets" href="https://assets-cdn.github.com/">
        <link rel="web-socket" href="wss://live.github.com/_sockets/NzU4NDU1Nzo2OWE5YTM2NTIxYjRjNDBlNjAzMzMxOWUxZjJkODc2YjoxMzNhMTYyMDNhODcyNzU5YTc3YjI3ZWQyZDU2Yzc5ZmVhM2I1NDMxOWQxMzczZWFhZDY4Y2QzMThmYzcwN2Fh--f676a5fcdf8e0c831d0d8057ac698f23af308094">
        <meta name="pjax-timeout" content="1000">
        <link rel="sudo-modal" href="/sessions/sudo_modal">
        <meta name="msapplication-TileImage" content="/windows-tile.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="google-analytics" content="UA-3769691-2">
        <meta content="collector.githubapp.com" name="octolytics-host">
        <meta content="collector-cdn.github.com" name="octolytics-script-host">
        <meta content="github" name="octolytics-app-id">
        <meta content="AD56CE81:3DE9:AD2342:556E1835" name="octolytics-dimension-request_id">
        <meta content="7584557" name="octolytics-actor-id">
        <meta content="williamsjs" name="octolytics-actor-login">
        <meta content="496c6d27248509f5afa3f9818a0de1568bf9b77b3734cb5a5431b065f50c339e"
        name="octolytics-actor-hash">
        <meta content="Rails, view, users#show" name="analytics-event">
        <meta class="js-ga-set" name="dimension1" content="Logged In">
        <meta class="js-ga-set" name="dimension2" content="Header v3">
        <meta name="is-dotcom" content="true">
        <meta name="hostname" content="github.com">
        <meta name="user-login" content="williamsjs">
        <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
        <meta content="authenticity_token" name="csrf-param">
        <meta content="wZNciBF1fkQh871ow4egzw4icCNuNOi8ptbVowol8rElrFBW8RQK7fFZ14Wlke6sUFEzus5gaW2FrHupbe05PA=="
        name="csrf-token">
        <link href="https://assets-cdn.github.com/assets/github/index-ab5a4b6368c51838f7b3c1651512096c6332db5873f2e0247cbae17e7d5c839d.css"
        media="all" rel="stylesheet">
        <link href="https://assets-cdn.github.com/assets/github2/index-73bfe123ff406f4bf8959a28667410beaac1485e71c92d4725a3d7afc45fc4c5.css"
        media="all" rel="stylesheet">
        <meta http-equiv="x-pjax-version" content="e2a414ce349bb04b8798bc350b4f45b2">
        <link href="/williamsjs.atom" rel="alternate" title="atom" type="application/atom+xml">
        <meta name="description" content="williamsjs has 13 repositories written in Ruby, CSS, and JavaScript. Follow their code on GitHub.">
        <meta content="7584557" name="octolytics-dimension-user_id">
        <meta content="williamsjs" name="octolytics-dimension-user_login">
        <script type="text/javascript" async="" src="//collector-cdn.github.com/assets/api.js"></script>
        <meta name="selected-link" value="/williamsjs" data-pjax-transient="true">
        <meta content="Rails, view, users#show" name="analytics-event" data-pjax-transient="true">
        <link href="/williamsjs.atom" rel="alternate" title="atom" type="application/atom+xml"
        data-pjax-transient="true">
        <meta name="description" content="williamsjs has 13 repositories written in Ruby, CSS, and JavaScript. Follow their code on GitHub."
        data-pjax-transient="true">
        <meta content="7584557" name="octolytics-dimension-user_id" data-pjax-transient="true">
        <meta content="williamsjs" name="octolytics-dimension-user_login" data-pjax-transient="true">
    </head>

    <body class="logged_in  env-production macintosh  page-profile mine">
        <a href="#start-of-content" tabindex="1" class="accessibility-aid js-skip-to-content">Skip to content</a>
        <div class="wrapper">
            <div class="header header-logged-in true" role="banner">
                <div class="container clearfix">
                    <a class="header-logo-invertocat" href="https://github.com/" data-hotkey="g d"
                    aria-label="Homepage" data-ga-click="Header, go to dashboard, icon:logo">
  <span class="mega-octicon octicon-mark-github"></span>
</a>
                    <div class="site-search  js-site-search" role="search">
                        <form accept-charset="UTF-8" action="/search" class="js-site-search-form"
                        data-global-search-url="/search" data-repo-search-url="" method="get">
                            <div style="margin:0;padding:0;display:inline">
                                <input name="utf8" type="hidden" value="✓">
                            </div>
                            <label class="js-chromeless-input-container form-control">
                                <div class="scope-badge">This repository</div>
                                <input type="text" class="js-site-search-focus  chromeless-input"
                                data-hotkey="s" name="q" placeholder="Search GitHub" data-global-scope-placeholder="Search GitHub"
                                data-repo-scope-placeholder="Search" tabindex="1" autocapitalize="off">
                            </label>
                        </form>
                    </div>
                    <ul class="header-nav left" role="navigation">
                        <li class="header-nav-item explore">
                            <a class="header-nav-link" href="/explore" data-ga-click="Header, go to explore, text:explore">Explore</a>
                        </li>
                        <li class="header-nav-item">
                            <a class="header-nav-link" href="https://gist.github.com" data-ga-click="Header, go to gist, text:gist">Gist</a>
                        </li>
                        <li class="header-nav-item">
                            <a class="header-nav-link" href="/blog" data-ga-click="Header, go to blog, text:blog">Blog</a>
                        </li>
                        <li class="header-nav-item">
                            <a class="header-nav-link" href="https://help.github.com" data-ga-click="Header, go to help, text:help">Help</a>
                        </li>
                    </ul>
                    <ul class="header-nav user-nav right" id="user-links">
                        <li class="header-nav-item dropdown js-menu-container">
                            <a class="header-nav-link name" href="/williamsjs" data-ga-click="Header, go to profile, text:username">
      <img alt="@williamsjs" class="avatar" height="20" src="https://avatars2.githubusercontent.com/u/7584557?v=3&amp;s=40" width="20">
      <span class="css-truncate">
        <span class="css-truncate-target">williamsjs</span>
      </span>
    </a>
                        </li>
                        <li class="header-nav-item dropdown js-menu-container">
                            <a class="header-nav-link js-menu-target tooltipped tooltipped-s" href="/new"
                            aria-label="Create new..." data-ga-click="Header, create new, icon:add">
      <span class="octicon octicon-plus"></span>
      <span class="dropdown-caret"></span>
    </a>
                            <div class="dropdown-menu-content js-menu-content">
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/new" data-ga-click="Header, create new repository, icon:repo"><span class="octicon octicon-repo"></span> New repository</a>
                                    </li>
                                    <li>
                                        <a href="/organizations/new" data-ga-click="Header, create new organization, icon:organization"><span class="octicon octicon-organization"></span> New organization</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header-nav-item">
                            <span class="js-socket-channel js-updatable-content" data-channel="notification-changed:williamsjs"
                            data-url="/notifications/header">
                                <a href="/notifications" aria-label="You have no unread notifications"
                                class="header-nav-link notification-indicator tooltipped tooltipped-s"
                                data-ga-click="Header, go to notifications, icon:read" data-hotkey="g n">
          <span class="mail-status all-read"></span>
          <span class="octicon octicon-inbox"></span>
</a>
                            </span>
                        </li>
                        <li class="header-nav-item">
                            <a class="header-nav-link tooltipped tooltipped-s" href="/settings/profile"
                            id="account_settings" aria-label="Settings" data-ga-click="Header, go to settings, icon:settings">
      <span class="octicon octicon-gear"></span>
    </a>
                        </li>
                        <li class="header-nav-item">
                            <form accept-charset="UTF-8" action="/logout" class="logout-form" method="post">
                                <div style="margin:0;padding:0;display:inline">
                                    <input name="utf8" type="hidden" value="✓">
                                    <input name="authenticity_token" type="hidden" value="NLZk/OXBRnjfLEDB5zeGxBmkMg7LOa7STogbdMo/u3rhg2eWAEVYljuqIhrQN+8I2J6FVcTx0BtyOGY5BpAV2g==">
                                </div>
                                <button class="header-nav-link sign-out-button tooltipped tooltipped-s"
                                aria-label="Sign out" data-ga-click="Header, sign out, icon:logout">
                                    <span class="octicon octicon-sign-out"></span>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="start-of-content" class="accessibility-aid"></div>
            <div class="site clearfix" role="main">
                <div id="site-container" class="context-loader-container" data-pjax-container="">
                    <div class="container">
                        <div class="columns profilecols">
                            <div class="column one-fourth vcard" itemscope="" itemtype="http://schema.org/Person">
                                <a href="/account" aria-label="Change your avatar" class="vcard-avatar tooltipped tooltipped-s"><img alt="" class="avatar" height="230" src='<%= @image %>' width="230"></a>
                                <h1 class="vcard-names">
                                    <span class="vcard-fullname" itemprop="name"><%= @name %></span>
                                    <span class="vcard-username" itemprop="additionalName"><%= @username %></span>
                                </h1>
                                <ul class="vcard-details">
                                    <li class="vcard-detail" itemprop="homeLocation" title="Durham, NC">
                                        <span class="octicon octicon-location"></span><%= @location %></li>
                                    <li class="vcard-detail">
                                        <span class="octicon octicon-mail"></span>
                                        <a class="email" href="mailto:<%@email%>"><%= @email %></a>
                                    </li>
                                    <li class="vcard-detail">
                                        <span class="octicon octicon-clock"></span>
                                        <span class="join-label">Joined on</span>
                                        <time class="join-date" datetime="2014-05-14T18:38:38Z"><%= @date_joined %></time>
                                    </li>
                                </ul>
                                <div class="vcard-stats">
                                    <a class="vcard-stat" href="/williamsjs/followers">
          <strong class="vcard-stat-count">2</strong>
          <span class="text-muted">Followers</span>
        </a>
                                    <a class="vcard-stat" href="/stars">
          <strong class="vcard-stat-count">0</strong>
          <span class="text-muted">Starred</span>
        </a>
                                    <a class="vcard-stat" href="/williamsjs/following">
          <strong class="vcard-stat-count">4</strong>
          <span class="text-muted">Following</span>
        </a>
                                </div>
                                <div class="clearfix">
                                    <h3>Organizations</h3>
                                    <a href="/BikeSafety" aria-label="BikeSafety" class="tooltipped tooltipped-n avatar-group-item"
                                    itemprop="follows"><img alt="@BikeSafety" class="avatar" height="42" src="https://avatars3.githubusercontent.com/u/11840822?v=3&amp;s=84" width="42"></a>
                                    <a href="/Scott-Turner-vs-The-Legacy" aria-label="Scott-Turner-vs-The-Legacy"
                                    class="tooltipped tooltipped-n avatar-group-item" itemprop="follows"><img alt="@Scott-Turner-vs-The-Legacy" class="avatar" height="42" src="https://avatars1.githubusercontent.com/u/12532750?v=3&amp;s=84" width="42"></a>
                                    <a href="/NationalPublicSpotify" aria-label="NationalPublicSpotify" class="tooltipped tooltipped-n avatar-group-item"
                                    itemprop="follows"><img alt="@NationalPublicSpotify" class="avatar" height="42" src="https://avatars2.githubusercontent.com/u/12647752?v=3&amp;s=84" width="42"></a>
                                </div>
                            </div>
                            <div class="column three-fourths">
                                <div class="tabnav">
                                    <div class="right">
                                        <a href="/account" class="btn btn-sm">
                  <span class="octicon octicon-pencil"></span>
                  Edit profile
                </a>
                                    </div>
                                    <nav class="tabnav-tabs" data-pjax="" role="navigation">
                                        <a href="/williamsjs" class="tabnav-tab ">
            <span class="octicon octicon-diff-added"></span>
            Contributions
          </a>
                                        <a href="/williamsjs?tab=repositories" class="tabnav-tab selected">
            <span class="octicon octicon-repo"></span>
            Repositories
          </a>
                                        <a href="/williamsjs?tab=activity" class="tabnav-tab ">
            <span class="octicon octicon-rss"></span>
            Public activity
          </a>
                                    </nav>
                                </div>
                                <div class="tab-content js-repo-filter">
                                    <div class="repo-tab">
                                        <div class="filter-bar">
                                            <a href="/new" class="btn btn-primary new-repo">
          <span class="octicon octicon-repo"></span>
          New
</a>
                                            <ul class="repo_filterer">
                                                <li>
                                                    <a href="#" class="repo_filter js-repo-filter-tab" data-filter=".mirror">Mirrors</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="repo_filter js-repo-filter-tab" data-filter=".fork">Forks</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="repo_filter js-repo-filter-tab" data-filter=".source">Sources</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="repo_filter js-repo-filter-tab" data-filter=".private">Private</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="repo_filter js-repo-filter-tab" data-filter=".public">Public</a>
                                                </li>
                                                <li class="all_repos">
                                                    <a href="#" class="repo_filter js-repo-filter-tab filter-selected" data-filter=".public, .private">All</a>
                                                </li>
                                            </ul>
                                            <form accept-charset="UTF-8" action="/search" class="repo-search" method="get"
                                            role="search">
                                                <div style="margin:0;padding:0;display:inline">
                                                    <input name="utf8" type="hidden" value="✓">
                                                </div>
                                                <input type="hidden" name="user" value="williamsjs">
                                                <input type="text" id="your-repos-filter" name="q" class="filter_input js-filterable-field"
                                                placeholder="Find a repository…" tabindex="2">
                                                <input type="submit" value="Search" class="btn">
                                            </form>
                                        </div>
                                        <ul class="repo-list js-repo-list" data-filterable-for="your-repos-filter"
                                        data-filterable-type="substring"><% @repos.each do |key, value| %>
                                            <li class="repo-list-item public source">
                                                <div class="repo-list-stats">Ruby
                                                    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/williamsjs/voter_api/stargazers"
                                                    aria-label="Stargazers">
      <span class="octicon octicon-star"></span>
      0
    </a>
                                                    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/williamsjs/voter_api/network"
                                                    aria-label="Forks">
      <span class="octicon octicon-git-branch"></span>
      0
    </a>
                                                </div>
                                                <h3 class="repo-list-name">
                                                    <a href="<%= value %>"><%= key %></a>
                                                </h3>
                                                <p class="repo-list-meta">Updated
                                                    <time datetime="2015-05-28T12:36:52Z" is="relative-time" title="May 28, 2015, 8:36 AM EDT">5 days ago</time>
                                                </p>
                                                <div class="participation-graph">
                                                    <svg class="bars" width="640" height="80">
                                                        <g transform="translate(627.81, 0)">
                                                            <rect width="11.31" height="18.0" y="62.0" fill="#f8f8f8"></rect>
                                                            <rect width="11.31" height="18.0" y="62.0" fill="#dedede"></rect>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </li><% end %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-backdrop"></div>
            </div>
        </div>
        <!-- /.wrapper -->
        <div class="container">
            <div class="site-footer" role="contentinfo">
                <ul class="site-footer-links right">
                    <li>
                        <a href="https://status.github.com/" data-ga-click="Footer, go to status, text:status">Status</a>
                    </li>
                    <li>
                        <a href="https://developer.github.com" data-ga-click="Footer, go to api, text:api">API</a>
                    </li>
                    <li>
                        <a href="https://training.github.com" data-ga-click="Footer, go to training, text:training">Training</a>
                    </li>
                    <li>
                        <a href="https://shop.github.com" data-ga-click="Footer, go to shop, text:shop">Shop</a>
                    </li>
                    <li>
                        <a href="https://github.com/blog" data-ga-click="Footer, go to blog, text:blog">Blog</a>
                    </li>
                    <li>
                        <a href="https://github.com/about" data-ga-click="Footer, go to about, text:about">About</a>
                    </li>
                </ul>
                <a href="https://github.com" aria-label="Homepage">
      <span class="mega-octicon octicon-mark-github" title="GitHub"></span>
</a>
                <ul class="site-footer-links">
                    <li>© 2015
                        <span title="0.15405s from github-fe141-cp1-prd.iad.github.net">GitHub</span>, Inc.</li>
                    <li>
                        <a href="https://github.com/site/terms" data-ga-click="Footer, go to terms, text:terms">Terms</a>
                    </li>
                    <li>
                        <a href="https://github.com/site/privacy" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a>
                    </li>
                    <li>
                        <a href="https://github.com/security" data-ga-click="Footer, go to security, text:security">Security</a>
                    </li>
                    <li>
                        <a href="https://github.com/contact" data-ga-click="Footer, go to contact, text:contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fullscreen-overlay js-fullscreen-overlay" id="fullscreen_overlay">
            <div class="fullscreen-container js-suggester-container">
                <div class="textarea-wrap">
                    <textarea name="fullscreen-contents" id="fullscreen-contents" class="fullscreen-contents js-fullscreen-contents"
                    placeholder=""></textarea>
                    <div class="suggester-container">
                        <div class="suggester fullscreen-suggester js-suggester js-navigation-container"></div>
                    </div>
                </div>
            </div>
            <div class="fullscreen-sidebar">
                <a href="#" class="exit-fullscreen js-exit-fullscreen tooltipped tooltipped-w"
                aria-label="Exit Zen Mode">
      <span class="mega-octicon octicon-screen-normal"></span>
    </a>
                <a href="#" class="theme-switcher js-theme-switcher tooltipped tooltipped-w"
                aria-label="Switch themes">
      <span class="octicon octicon-color-mode"></span>
    </a>
            </div>
        </div>
        <div id="ajax-error-message" class="flash flash-error">
            <span class="octicon octicon-alert"></span>
            <a href="#" class="octicon octicon-x flash-close js-ajax-error-dismiss"
            aria-label="Dismiss error"></a>Something went wrong with that request. Please try again.</div>
        <script
        crossorigin="anonymous" src="https://assets-cdn.github.com/assets/frameworks-447ce66a36506ebddc8e84b4e32a77f6062f3d3482e77dd21a77a01f0643ad98.js"></script>
            <script async="async" crossorigin="anonymous" src="https://assets-cdn.github.com/assets/github/index-a20c2e09206c5a422782300da831db655d28fa52d30fb523f76bcae4d946bd44.js"></script>
    </body>

</html>
